/* <!-- This is the cover css of the ice-cream --> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
  }
  body{
    display: grid;
    place-items: center;
    min-height:100vh;
    aspect-ratio: 16 / 9;
    background:linear-gradient(to right,#fa90d1,#a5d4e6e3);
  overflow-y: hidden;
  
  }
  
  .ci0{
    position: relative;
    width: 375px;
    height: 375px;
    background-color:transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text{
    width:100%;
    height: 100%;
    position: absolute;
    animation: movi 10s linear infinite;
    color:rgb(0, 0, 0);
  }
  .text span{
    position: absolute;
    left:50%;
    font-size:2em;
    transform-origin: 0 187px;
  
  }
  @keyframes movi {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  .ci1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px;
  border-radius: 50%;
  width:300px;
  border: 3px solid rgba(236, 92, 35, 0.815);
  border-top: 3px solid rebeccapurple;
  border-bottom: 3px solid yellow;
  animation: movi 5s linear infinite;
  position: relative;
  }
  .ci2{
    width:250px;
    height:250px;
  border-radius: 50%;
  
  border: 3px solid rgba(85, 28, 190, 0.815);
  border-top: 3px solid lawngreen;
  border-bottom: 3px solid rgb(7, 120, 185);
  
  position: absolute;
  animation: movi 7s linear infinite;
  
  }
  .ci2 img{
    /* height: 50px;
    position: relative;
    top: 100px; */
    height: 160px;
    width: 160px;
    position: relative;
    top: 30px;
    left: 40px;
    right: 30px;
  }
  
  .ga{
    margin-top: -205px;
  }
  a {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #000000;
    text-transform: uppercase;
  }
  
  .btn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(116, 117, 214, 0.61);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 6ms;
  }
  
  .btn:hover:before {
    left: 1%;
  }