*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer { width:100%;

    background-color: rgb(51, 179, 230);
    padding: 100px 0px 30px;
   border-top-left-radius: 125px;
   
   font-style: bold;
   font-size: 18px;
   line-height: 25px;
   
    
}
.retoof con{
   
    display:block;
flex-wrap: wrap;
    justify-content: space-between;
}
.colu{
    
    display:inline-block;
   

    margin-left: 80px;
    line-height: 30px;
}
.colu ul li{
    list-style: none;
    
}
.colu ul li a{
    text-decoration: none;
    color: rgb(24, 1, 1);
    margin: 5px;
}
.colu h3{
   
   font-family: gabriola ;
   color: rgba(248, 237, 237, 0.986); 
   font-size: 25px;
   
   
    
}
h3.hea{
    font-size:65px ;
    font-family: gabriola ;
    
    color: rgb(230, 230, 230); 
    
}
.underline{
    width:100%;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.24);
    border-radius: 3px;
    position: relative;
    left:0;
    top:3px;
    overflow: hidden;
   
}
.underline span{
    width:20px;
    height:100%;
    background: white;
    border-radius: 3px;
  position: absolute;
  top:0;
  left:10px;
    animation: mov 3s linear infinite;
}
@keyframes mov{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
.iconn i{
 
   
    color:white;
    font-size: 33px;
   

}


.iconn a{
    text-decoration: none;
    padding:10px;
    margin: 16px;
    background-color:rgb(51, 179, 230);
   
    border-radius: 50%;
   
    

}
#bac{
  text-align: center;
  padding: 15px;
}
.iconn a i{
    opacity:0.9;
}


/* .iconn a:hover{
    background-color:  rgb(77, 156, 187);
    transition: 0.5s;
    box-shadow: 0px 2px 5px 3px #fff;
    
} */
/* .iconn a:hover i{
    opacity: 0.9;
    transition: 0.5s;
} */
p.tex{
    color: white;
                font-size: 23px; 
             
               text-align: center;
                 font-family:gabriola;
               
}